<div class="panel-body">
  <%= simple_form_for @location do |f| %>
    <%= f.input :city, label: false, input_html: {placeholder: "City"} %>
    <%= f.input :nation, label: false, input_html: {placeholder: "Country"} %>
    <%= f.input :continent, label: false, input_html: {placeholder: "Continent"} %>
    <%= f.input :population, label: false, input_html: {placeholder: "Population"} %>
    <%= f.input :language, label: false, input_html: {placeholder: "Primary Language"} %>
    <%= f.input :image, label: false, input_html: {placeholder: "Image"} %>
    <%= f.input :description, label: false, as: :text, input_html: {placeholder: "Description"} %>
    <%= f.input :quality_life, label:false, input_html: {placeholder: "Quality of Life Rank"} %>
    <%= f.input :happiness, label: false, input_html: {placeholder: "Happiness Index Rank"} %>
    <%= f.input :economic_index, label: false, input_html: {placeholder: "Economic Freedom Rank"} %>
    <%= f.input :visa_info, label: false, input_html: {placeholder: "Work Visa Information"} %>
    <%= f.input :job_info, label: false, input_html: {placeholder: "Local Job Postings"} %>
    <%= f.input :rental_info, label: false, input_html: {placeholder: "Housing Rental Information"} %>
    
    <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-danger"%>
  <%end %>
</div>
