<div class="container-fluid">

  <br>
    <div class="col-md-3">
      <br>
      <div class="panel panel-default">
      <br>
      <div class="panel-heading">
        
          <!-- <div class = "well"> -->
            <h4>Questions or Advice for other Travelers about <%= @location.city %> ?</h4>
            <%= form_for([@location, @location.corkboards.build]) do |f| %>
              <p>
                <%= f.label :subject %><br>
                <%= f.text_field :title %><br>

                <%= f.label :comment %><br>
                <%= f.text_area :comment %><br>
                <%= f.submit "Submit".html_safe, class: "btn btn-xs btn-danger" %>
              </p>
            <% end %>

            <div class="well">
              <h4>Traveler Tips and Tricks:</h4>
                <% @location.corkboards.each do |corkboard| %>
                  <p><strong> <%= corkboard.title %> </strong><br>
                  <%= corkboard.comment %>
                  </p>
                  <hr>
                <% end %>
            </div>
    </div> 
  </div>

</div>



  <div class="panel panel-default">
    <div class="col-md-9">
    <br>
    <h1>Living in <%= @location.city %></h1>

    <center><h3><div class="glyphicon glyphicon-cloud" aria-hidden="true"></div> Current temperature: <%= @temperature %></h3></center>

      <div class="col-md-8">
        <%=image_tag(@location.image, class: "img-responsive thumbnail") %>

        <p> <%= @location.description %> </p>
        <hr>

        <%= render "thumbnails" %>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><span>Life, Liberty & Happiness</span></h4>
            <h4>"Quality of Life" Rank: <span><%= @location.quality_life %> </span></h4>
            <h4>"Happiness" Rank: <span> <%= @location.happiness %> </span></h4>
            <h4>"Economic Freedom" Rank: <span> <%= @location.economic_index %></span></h4>
            <hr>
            <h4><span>Basic Information</span></h4>
            <h4>Country: <span> <%= @location.nation %> </span></h4>
            <h4>Continent:<span> <%= @location.continent %> </span></h3>
            <h4>Population:<span> <%= @location.population %></span></h4>
            <h4>Language(s):<span> <%= @location.language %><span></h4>
            <hr>
            <h4><span>Living Expenses (USD):</span></h4>
            <h5>Rent 1BD/City: <span> $<%= @rent_get %></span></h5>
            <h5>Average Meal- Cheap <span> $<%= @meal_get %></span></h5>
            <h5>Monthly Disposable Income: <span> $<%= @disp_income_get %></span></h5>
            <h5>Monthly Utilities: <span> $<%= @utilities_get %></span></h5>
            <h5>Monthly Public Transportation: <span> $<%= @trans_get %></span></h5>
            <h5>Avg Bottle Wine: <span> $<%= @wine_get %></span></h5>
            <h5>Cappuccino: <span> $<%= @cappuccino_get %></span></h5>
            <h5>Oranges - 2lbs: <span> $<%= @oranges_get %></span></h5>
            <h5>Loaf of Bread: <span> $<%= @bread_get %></span></h5>

          </div>
        </div>
      </div>

    </div>
</div>
</div>
