<div class="container-fluid">

  <br>
    <div class="col-md-3">
      <br>
      <div class="panel panel-default">
      <br>
      <div class="panel-heading">
        
          <!-- <div class = "well"> -->
            <h4>Questions or Advice for other Travelers about <%= @location.city %> ?</h4>
            <%= form_for([@location, @location.corkboards.build]) do |f| %>
              <p>
                <%= f.label :subject %><br>
                <%= f.text_field :title %><br>

                <%= f.label :comment %><br>
                <%= f.text_area :comment %><br>
                <%= f.submit "Submit".html_safe, class: "btn btn-xs btn-danger" %>
              </p>
            <% end %>

            <div class="well">
              <h4>Recent Traveler Tips and Tricks:   <%= link_to 'See All', location_corkboards_path(@location), class: 'btn-xs btn-default' %></h4>

                <% @location.corkboards.each do |corkboard| %>
                  <p><strong><span><%= corkboard.title %></span></strong><br>
                  <%= corkboard.comment %>
                  </p>
                  <hr>
                <% end %>
            </div>
    </div> 
  </div>

</div>



  <div class="panel panel-default">
    <div class="col-md-9">
    <br>
    <h1>Living in <%= @location.city %></h1>

    <center><h3><div class="glyphicon glyphicon-cloud" aria-hidden="true"></div>  Current temperature: <%= @temperature %></h3></center>


      <audio width="125" height="48" controls="controls"><source src="http://emisorasmusicales.es:8030/activafmaac.mp3" type="audio/mpeg"/>Your browser does not support HTML5 audio. Please update your browser to view this media content.</audio>
           

      <div class="col-md-8">
        <%=image_tag(@location.image, class: "img-responsive thumbnail") %>

        <p> <%= @location.description %> </p>
        <hr>

        <%= render "thumbnails" %>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><span>Life, Liberty & Happiness</span></h4>

            
            <h4><strong><a href="http://monocle.com/film/affairs/the-monocle-quality-of-life-survey-2015/" target="_blank" data-toggle="tooltip" data-placement="left" title="Based on the Top 25 countries in Monocle's 2015 Global Livability Index. Important criteria in this survey are safety/crime, international connectivity, climate/sunshine, quality of architecture, public transport, tolerance, environmental issues and access to nature, urban design, business conditions, pro-active policy developments and medical care.">"QUALITY of LIFE" Rank: </a></strong><span><%= @location.quality_life %> </span></h4>

            <!-- This the jquery that triggers the tooltip above -->
            <script>
              $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
              });
            </script>
            <!-- It ends here -->

            <h4><strong><a href="http://unsdsn.org/wp-content/uploads/2014/02/WorldHappinessReport2013_online.pdf" target="_blank" data-toggle="tooltip" data-placement="left" title="The World Happiness Report is a measure of happiness in people in over 150 countries. Six key factors include: real GDP per capita, healthy life expectancy, having someone to count on, perceived freedom to make life choices, freedom from corruption, and generosity">"Happiness" Rank: </a></strong><span> <%= @location.happiness %> </span></h4>


            <h4><strong><a href="http://www.heritage.org/index/" target="_blank" data-toggle="tooltip" data-placement="left" title="2015 Index of Economic Freedom, an annual guide published by The Wall Street Journal and The Heritage Foundation. It covers 10 economic freedoms in 186 countries: property rights, freedom from corruption, fiscal freedom, government spending, business freedom, labor freedom, monetary freedom, trade freedom, investment freedom, and financial freedom, with equal weight being given to each.">"Economic Freedom" Rank: </a><span> <%= @location.economic_index %></span></h4>

            <hr>
            <h4><span>Basic Information</span></h4>
            <h4>Country: <span> <%= @location.nation %> </span></h4>
            <h4>Continent:<span> <%= @location.continent %> </span></h3>
            <h4>Population:<span> <%= @location.population %></span></h4>
            <h4>Language(s):<span> <%= @location.language %><span></h4>
            <hr>
            <h4><span>Living Expenses (USD):</span></h4>
            <h5>Rent 1BD/City: <span> $<%= @rent_get %></span></h5>
            <h5>Average Meal- Cheap <span> $<%= @meal_get %></span></h5>
            <h5>Monthly Disposable Income: <span> $<%= @disp_income_get %></span></h5>
            <h5>Monthly Utilities: <span> $<%= @utilities_get %></span></h5>
            <h5>Monthly Public Transportation: <span> $<%= @trans_get %></span></h5>
            <h5>Avg Bottle Wine: <span> $<%= @wine_get %></span></h5>
            <h5>Cappuccino: <span> $<%= @cappuccino_get %></span></h5>
            <h5>Oranges - 2lbs: <span> $<%= @oranges_get %></span></h5>
            <h5>Loaf of Bread: <span> $<%= @bread_get %></span></h5>

          </div>
        </div>
      </div>

    </div>
</div>
</div>
